body {
      font-family: Arial, Helvetica, sans-serif;
      background: #fff;
      padding: 30px;
	margin:20px;
	border: solid black;   
    }
    .wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .box {
      width: 300px;                 
      background-color: lightblue;  
      border: 15px solid blue;      
      padding: 50px;            
      margin: 20px;                
      box-sizing: content-box; 
      color: #000;
      line-height: 1.4;
    }
    .box .demo {
      font-family: "Courier New", Courier, monospace;
      font-size: 13px;
      white-space: normal;
    }
    .inner-frame {
      border: 2px dotted rgba(0,0,0,0.4);
      padding: 10px;
      display: inline-block;
	}
    }